# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/

bin/

vendor.protogen/

json-report.txt

unit-tests.xml

json-report.e2e.txt

unit-tests.e2e.xml

loadtests/logs
loadtests/grpc-pool/logs
loadtests/http-pool/logs
loadtests/**/*.log

docker/grafana
docker/victoria
